.main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.group {
  color: white;
  padding-bottom: 10px;
}

.item {
  padding-left: 10px;
}

.item img {
  width: 50px;
  border-radius: 20px;
}
