.userItem {
  padding: 20px;
}

.userItem img {
  width: 100px;
}

.selectedPage {
  font-weight: bold;
  font-size: 2em;
  padding: 15px;
}

.notSelectedPage {
  font-size: 0.5em;
  padding: 5px;
  cursor: pointer;
}
