.container {
  display: flex;
  background-color: white;
  margin: 10px;
}

.info {
  border: 1px #ccc solid;
  padding: 10px;
}

.message {
  border: 1px #ccc solid;
  padding: 10px;
}

.info img {
  width: 50px;
  border-radius: 25px;
}
