.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItems {
  padding: 10px;
}

.dialogItems .active {
  color: red;
}

.messageItems {
  padding: 10px;
}

.item img {
  width: 50px;
  border-radius: 25px;
}
