.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItems {
  padding: 10px;
}

.dialogItems .active {
  color: red;
}

.messageItems {
  text-align: left;
}

.message {
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: left;
}

.ava_item {
  text-align: center;
  padding-bottom: 10px;
  text-decoration: none;
}

.ava_item img {
  width: 50px;
  border-radius: 25px;
}
